@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
<<<<<<< HEAD

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
	font-display: swap;
}

:root[data-theme='modern'] {
	--theme-font-family-base: 'Inter', sans-serif;
	--theme-font-family-heading: 'Inter', sans-serif;
}
=======
>>>>>>> main
